body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  display: flex;
  flex-direction: column;
  left: 0;
  top: 20px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

textarea {
  margin-bottom: 15px;
  height: 100px;
}